@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&display=swap');

html {
  box-sizing: border-box;
  background-color: #1a1a2e;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
  padding: 12px 16px;
  width: 100%;
}